.btn {
    color: white !important;
    background-color: #0d6efd !important;
    border-radius: 5px !important;
    border: none !important;
}

.btn:hover {
    background-color: #0b5ed7 !important;

}