<app-nav></app-nav>

<div class="intro">
  <div class="vertical">
    <img src="../../../assets/img/profile.jpg" alt="" />
    <p>_____ Desenvolvedor Fullstack</p>
  </div>
  <div class="vertical">
    <p class="title">Wagner Caetano</p>
    <p>
      Olá, tudo bem ?? <br />
      Bem vindo ao meu website<br />
      fique a vontade para me conhecer :D
    </p>
    <app-button [text]="'Download CV'"></app-button>
  </div>
</div>
<p class="scroll-down">scroll down<i class="bi bi-arrow-down-short"></i></p>

<div class="about">
  <p class="title">Minha trajetória</p>

  <div>
    <div class="box">
      <i class="bi bi-award"></i>
      <p>
        Experiência<br />
        3 anos
      </p>
    </div>
    <div class="box">
      <i class="bi bi-journal-check"></i>
      <p>Aws Certied Practioner<br /></p>
    </div>
    <div class="box">
      <i class="bi bi-pc-display"></i>
      <p>Engenheiro de software pleno</p>
    </div>
  </div>

  <div>
    <i class="bi bi-caret-right-fill"></i>
    <p>
      Meus estudos de programação começaram na Cotuca, uma escola técnica em
      Campinas, onde fiz um curso de 2 anos aprendendo Java, .NET, SQL, Python,
      e um pouco de Arduino, além de outras tecnologias.
    </p>
  </div>

  <div>
    <i class="bi bi-arrow-right"></i>
    <p>
      Depois de terminar esses 2 anos, tentei alguns processos de estágio para
      entrar em diferentes empresas. Eventualmente entrei no CI&T como
      Estagiário, de 1200 participantes fui um dos 90 que entrou.
    </p>
  </div>

  <div>
    <i class="bi bi-arrow-right"></i>
    <p>
      No meu primeiro ano como estagiário trabalhei em uma equipe da Sulamerica,
      cliente da CI&T, onde aprendi as melhores práticas de desenvolvimento de
      software, Spring Boot, Angular, Unit Testing, Component Testing, alguns
      termos e conhecimentos sobre o mercado em em geral.
    </p>
  </div>

  <div>
    <i class="bi bi-arrow-right"></i>
    <p>
      Atuei em um produto para agendamento de consultas de pacientes com
      médicos, através de um App, uma infraestrutura de microsserviços criada
      específica para este fluxo, e também uma plataforma web angular onde o
      auxiliar do médico poderia escolher o melhor horário para o paciente e
      para o médico.
    </p>
  </div>

  <div>
    <i class="bi bi-arrow-right"></i>
    <p>
      Após quase dois anos trabalhando na Sulamerica, mudei para um dos maiores
      bancos nacionais do Brasil, que também é cliente da CI&T, desde então
      venho trabalhando com LGPD e dados cadastrais em um produto para o banco.
    </p>
  </div>
</div>

<p class="scroll-down"><i class="bi bi-arrow-down-short"></i></p>

<div class="skills">
  <p class="title">Minhas habilidades</p>

  <div>
    <div class="box">
      <img src="../../../assets/icons/angular.svg" alt="" />
      <p>Angular</p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/java.svg" alt="" />
      <p>Java<br /></p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/wordpress.svg" alt="" />
      <p>Wordpress</p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/spring.svg" alt="" />
      <p>Spring Boot</p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/typescript.svg" alt="" />
      <p>Typescript</p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/git.svg" alt="" />
      <p>Git<br /></p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/vscode.svg" alt="" />
      <p>VSCode</p>
    </div>
    <div class="box">
      <img src="../../../assets/icons/scss.svg" alt="" />
      <p>SCSS</p>
    </div>
  </div>
</div>

<app-footer></app-footer>
