<nav class="navbar navbar-expand-md">
  <div>
    <p class="title">Wagner Caetano</p>
  </div>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let item of items">
        <span class="nav-link" (click)="navigate(item.url)">{{item.name}}</span>
      </li>
    </ul>
  </div>
</nav>
