nav {
  display: flex;
  flex-wrap: row;
  padding: 1rem;
  color: #121212 !important;
  box-shadow: none !important;

  .title {
    font-size: 1.5rem;
    font-weight: 800;
    color: #0a58ca;
  }

  .navbar-collapse:not(.show) {
    justify-content: space-evenly;
  }

  span {
    font-size: 1.5rem;
    cursor: pointer;
  }
}

@media (min-width: 900px) {
  nav {
    padding: 0rem 15rem;
    .navbar-collapse:not(.show) {
      justify-content: right;
    }
  }
}
@media (min-width: 1400px) {
  nav {
    padding: 0rem 30rem;
    .navbar-collapse:not(.show) {
      justify-content: right;
    }
  }
}
