@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@import "./../node_modules/bootstrap/scss/bootstrap.scss";
@import "~bootstrap-icons/font/bootstrap-icons.css";

app-root {
  div {
    display: flex;
    flex-direction: row;
  }

  p {
    margin: 0;
    padding: 0;
  }

  .vertical {
    display: flex;
    flex-direction: column;
  }

  i {
    padding: 1rem;
  }
}
